[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
selenium = "==2.48.0"
lxml = "*"
"beautifulsoup4" = "*"
uvloop = "*"
tqdm = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.6"
